<p>projects works!</p>
<table class="table table-striped">
    <thead>
        <tr>
        <th>Project Code</th>
        <th>Title</th>
        <th>Budget</th>
        <th>Start Date</th>
        <th>Expected End Date</th>
        <th>Status</th>
        <th>Created On</th>
        <th>Last Updated On</th>
        <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let project of projects">
        <td>{{project.projectCode}}</td>
        <td>{{project.title}}</td>
        <td>{{project.budget}}</td>
        <td>{{project.startDate}}</td>
        <td>{{project.expectedEndDate}}</td>
        <td>{{project.status}}</td>
        <td>{{project.createdOn}}</td>
        <td>{{project.lastUpdatedOn}}</td>
        <td>
            <div *ngIf="checkStatus(project.status); else disabled">
                <select [(ngModel)]="status">
                    <option value="Pending">Pending</option>
                    <option value="Delayed">Delayed</option>
                    <option value="Completed">Completed</option>
                    <option value="Cancelled">Cancelled</option>
                </select>
                <button class="btn btn-primary" (click)="updateProject(project.projectCode)">Update</button>
              </div>
              
              <ng-template #disabled>
                <div>
                    <select [(ngModel)]="status"  disabled>
                        <option value="Pending">Pending</option>
                        <option value="Delayed">Delayed</option>
                        <option value="Completed">Completed</option>
                        <option value="Cancelled">Cancelled</option>
                    </select>
                    <button class="btn btn-primary"  disabled (click)="updateProject(project.projectCode)">Update</button>
                </div>
              </ng-template>
            


        </td>
        </tr>
        </tbody>
  </table>
