<h2>Create a New Project</h2>
<form (ngSubmit)="onSubmit()" #projectForm="ngForm">
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" [(ngModel)]="project.title" required>
  </div>
  <div>
    <label for="budget">Budget:</label>
    <input type="number" id="budget" name="budget" [(ngModel)]="project.budget" required>
  </div>
  <div>
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" name="startDate" [(ngModel)]="project.startDate" required>
  </div>
  <div>
    <label for="expectedEndDate">Expected End Date:</label>
    <input type="date" id="expectedEndDate" name="expectedEndDate" [(ngModel)]="project.expectedEndDate" required>
  </div>
 
  <div>
    <label for="client">Client:</label>
    <select id="client" name="client" [(ngModel)]="project.clientId" required>
      <option value="">--Select--</option>
      <option *ngFor="let client of clients" [value]="client.id">{{ client.name }}</option>
    </select>
  </div>
  <button type="submit">Submit</button>
</form>

  
        <div *ngIf="projectdetails">
          <p> 
           Title:{{projectdetails.title}}<br/>
            Budget:{{projectdetails.budget}}<br/>
            Start date:{{projectdetails.startDate}}
             Expected End Date:{{projectdetails.expectedEndDate}}<br/>
            Created On:{{projectdetails.createdOn}}<br/>
            Status:{{projectdetails.status}}<br/>
            last Updated On:{{projectdetails.lastUpdatedOn}}</p>
        </div>
      
    